.badge {
    color: white;
    background-color: var(--orange);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    bottom: 15px;
}